@mixin background_whiteness($percent) {
    background-color: color-mix(in oklab, var(--background), white $percent);
}

@mixin transparent_noBorder_noOutline {
    background: transparent;
    border: none;
    outline: none;
}

@function px_to_rem($px) {
    $rem: ($px / 16) + rem;
    @return $rem;
}